.App-header {
  background-color: #4267b2; /* Facebook Blue */
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Styles for the title */
.AppTitle {
  font-size: 2rem;
  margin-bottom: 10px; /* Add some spacing below the title */
}

/* Styles for the Facebook component */
.Facebook {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* Add some spacing above the Facebook button */
}

.Facebook img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.Facebook h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.Facebook p {
  font-size: 1rem;
  margin-bottom: 20px;
}

/* Styles for the FacebookLogin button */
.FacebookLoginButton {
  background-color: #3b5998; /* Facebook Blue */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.FacebookLoginButton:hover {
  background-color: #30497a; /* Darker shade of Facebook Blue */
}

/* Centering the FacebookLogin button */
.FacebookLoginButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  text-align: center; /* Center align the button */
}